#include <stdio.h>
#include <string.h>
#include <stdlib.h>
#include <locale.h>

/*criar uma função que salva em binario*/


typedef struct biblio Biblio;

struct biblio{
    char titulo[100];
    char autor[60];
    char classi[10];
    int ano;
    Biblio* prox;
};

typedef struct lista Lista;

struct lista{
    Biblio* inicio;
};

Biblio* busca_ant_autor (Lista* l, char vari[], Biblio** ant){
    *ant=NULL;
    Biblio* aux=l->inicio;
        while (aux!=NULL && strcmp(aux->autor, vari)<0){
            *ant = aux;
            aux=aux->prox;
        }
        if (aux!=NULL && strcmp(aux->autor, vari)==0){
            return aux;
        }
        return NULL;
    }

Biblio* busca_edit_remove (Lista* l, char autor [], char titulo [], Biblio** ant){
    *ant=NULL;
    Biblio* aux;
    aux=busca_ant_autor(l, autor, ant);
    while (aux!=NULL && strcmp(aux->autor, autor)==0){
        if (strcmp(aux->titulo, titulo)==0){
            return aux;
        }
        *ant=aux;
        aux=aux->prox;
    }
    return NULL;
}

void insercao(Lista* l, Biblio *aux, Biblio* ant, Biblio* dado){

    if (ant==NULL && aux == NULL){
        dado->prox=NULL;
        l->inicio=dado;
    } else if (aux!=NULL){
        if (ant==NULL && (strcmp (l->inicio->titulo, dado->titulo)>0)){
        dado->prox=l->inicio;
        l->inicio=dado;
        return;
        }
        if (ant==NULL) {
            ant=aux;
        }
        while ((ant->prox != '\0') && (strcmp (ant->prox->autor, dado->autor)==0) && (strcmp (ant->prox->titulo, dado->titulo)<0)){
            ant=ant->prox;
        }
        if (ant->prox != '\0' && strcmp (ant->prox->titulo, dado->titulo)==0) {
            printf("\nObra ja cadastrada\n");
            return;
        } else {
            dado->prox=ant->prox;
            ant->prox=dado;
        }
    } else if (aux==NULL){
        dado->prox=ant->prox;
        ant->prox=dado;
    }
}

void editar_autor_titulo(Lista* l, char var[], int tam, Biblio* aux){
    Biblio* ant, *aux2;
    if (tam==1){
        strcpy (aux->autor, var);
        aux2=busca_ant_autor (l, aux->autor, &ant);
        insercao(l, aux2, ant, aux);
    } else if (tam==2){
        strcpy (aux->titulo, var);
        aux2=busca_ant_autor (l, aux->autor, &ant);
        insercao(l, aux2, ant, aux);
    }
}

void inserir_livro (Lista* l){
    Biblio* b=(Biblio*)malloc(sizeof(Biblio));
    Biblio* ant;
    Biblio* aux;
    printf("\tBem vindo ao sistema de cadastro:\n");
    printf("Inserir o nome do autor:\n");
    fflush(stdin);
    gets(b->autor);
    printf("Inserir o titulo do livro:\n");
    gets(b->titulo);
    printf("Qual a classificação do livro?\n");
    gets(b->classi);
    printf("Qual o ano de publicação?\n");
    scanf(" %i", &b->ano);

    aux = busca_ant_autor(l, b->autor, &ant);
    insercao(l, aux, ant, b);
 }

 //Erro nessa parte, gravação bizarra
void gravar_arquivo (Lista* l){
    FILE* gravar;
    Biblio* aux=l->inicio;
    gravar = fopen ("biblioteca.bin", "wb");
    while (aux!=NULL){
        fwrite(&aux->autor, sizeof(aux->autor), 1, gravar);
        fwrite(&aux->titulo, sizeof(aux->titulo), 1, gravar);
        fwrite(&aux->classi, sizeof(aux->classi), 1, gravar);
        fwrite(&aux->ano, sizeof(aux->ano), 1, gravar);
        aux=aux->prox;
    }
    fclose(gravar);
}

void arquivo(Lista* l){
    FILE *armazenamento;
    Biblio* aux=l->inicio;
    armazenamento = fopen ("biblioteca.bin", "a+b");
    int tam=-1;
    Biblio* arm=(Biblio*)malloc(sizeof(Biblio));
    while (!feof(armazenamento)){
        fread(&arm->autor, sizeof(aux->autor), 1, armazenamento);
        fread(&arm->titulo, sizeof(aux->titulo), 1, armazenamento);
        fread(&arm->classi, sizeof(aux->classi), 1, armazenamento);
        fread(&arm->ano, sizeof(aux->ano), 1, armazenamento);
        tam++;
    }
    free(arm);
    rewind(armazenamento);
    Biblio* arm2=(Biblio*)malloc(tam*sizeof(Biblio));
   if (tam==1) {
        fread(arm2->autor, sizeof(aux->autor), 1, armazenamento);
        fread(arm2->titulo, sizeof(aux->titulo), 1, armazenamento);
        fread(arm2->classi, sizeof(aux->classi), 1, armazenamento);
        fread(&arm2->ano, sizeof(aux->ano), 1, armazenamento);
        arm2->prox=NULL;
        l->inicio=arm2;
    } else if (tam>1){
        int tam2=0;
        fread(&arm2[tam2].autor, sizeof(aux->autor), 1, armazenamento);
        fread(&arm2[tam2].titulo, sizeof(aux->titulo), 1, armazenamento);
        fread(&arm2[tam2].classi, sizeof(aux->classi), 1, armazenamento);
        fread(&arm2[tam2].ano, sizeof(aux->ano), 1, armazenamento);
        arm2[tam2].prox=NULL;
        l->inicio=&arm2[tam2];
        tam++;
        while (tam-2!=tam2){
            tam2++;
            fread(&arm2[tam2].autor, sizeof(aux->autor), 1, armazenamento);
            fread(&arm2[tam2].titulo, sizeof(aux->titulo), 1, armazenamento);
            fread(&arm2[tam2].classi, sizeof(aux->classi), 1, armazenamento);
            fread(&arm2[tam2].ano, sizeof(aux->ano), 1, armazenamento);
            arm2[tam2-1].prox=&arm2[tam2];
            arm2[tam2].prox=NULL;
        }
    }
    fclose(armazenamento);
}

void catalogo(Lista* l){
    Biblio* aux=l->inicio;
    printf("\t Catalogo da Biblioteca Digital:\n\n");
    while(aux!=NULL){
        printf("Autor: %s\nTitulo: %s\nAno: %i\tClassificação: %s", aux->autor, aux->titulo, aux->ano, aux->classi);
        printf("\n__________________________________________________________________________________________________________________\n");
        aux=aux->prox;
    }
}


int print_nome(Lista *l, char var[]){
    Biblio* aux;
    aux=l->inicio;
    int tam=0;
    printf("\t Catalogo da Biblioteca Digital por autor:\n\n");
        while (aux!=NULL){
            if(strcmp (aux->autor, var)==0){
                printf("Autor: %s\nTitulo: %s\nAno: %i\tClassificação: %s", aux->autor, aux->titulo, aux->ano, aux->classi);
                printf("\n__________________________________________________________________________________________________________________\n");
                tam++;
            }
            aux=aux->prox;
        } if (tam==0) {
                printf("Autor não encontrado!!");
        }
        return tam;
}

void print_classi(Lista *l, char var[]){
    Biblio* aux;
    aux=l->inicio;
    int tam=0;
        if (aux!=NULL){
            printf("\t Catalogo da Biblioteca Digital por classi:\n\n");
            while(aux!=NULL){
                if (strcmp (aux->classi, var)==0){
                    printf("Autor: %s\nTitulo: %s\nAno: %i\tClassificação: %s", aux->autor, aux->titulo, aux->ano, aux->classi);
                    printf("\n__________________________________________________________________________________________________________________\n");
                    tam++;
                }
                aux=aux->prox;
            }
            if (tam==0){
                printf("Nenhum livro contem essa classificação");
            }
        }
}

void print_ano(Lista*l, int num){
    Biblio* aux;
    aux=l->inicio;
    int tam=0;
        if (aux!=NULL){
            printf("\t Catalogo da Biblioteca Digital por classi:\n\n");
            while(aux!=NULL){
                if (aux->ano == num){
                    printf("Autor: %s\nTitulo: %s\nAno: %i\tClassificação: %s", aux->autor, aux->titulo, aux->ano, aux->classi);
                    printf("\n__________________________________________________________________________________________________________________\n");
                    tam++;
                }
                aux=aux->prox;
            }
            if (tam==0){
                printf("Nenhum livro da Biblioteca foi impresso esse ano");
            }
        }
}

int print_titulo (Lista* l, char var[]){
    Biblio* aux;
    aux=l->inicio;
    int tam=0;;
        if (aux!=NULL){
            printf("\t Catalogo da Biblioteca Digital por Titulo:\n\n");
            while(aux!=NULL){
                if (strcmp (aux->titulo, var)==0){
                    printf("Autor: %s\nTitulo: %s\nAno: %i\tClassificação: %s", aux->autor, aux->titulo, aux->ano, aux->classi);
                    printf("\n__________________________________________________________________________________________________________________\n");
                    tam++;
                }
                aux=aux->prox;
            }
            if (tam==0){
                printf("\nO titulo buscado não foi encontrado");
            }
        }
        return tam;
}

void catalogo_por_filtro(Lista* l, int op){
    Biblio* aux;
    char var[60];
    int tam=0;
    int num;
    if (op==1){
        printf("Insira o nome do autor:");
        fflush(stdin);
        gets(var);
        print_nome(l, var);
    } else  if (op==2){
        printf("Insira a classificação:");
        fflush(stdin);
        gets(var);
        print_classi(l, var);
    } else  if (op==3){
        printf("Insira a Ano:");
        fflush(stdin);
        scanf("%i", &num);
        print_ano(l, num);
    } else  if (op==4){
        printf("Insira a Titulo da Obra buscada:");
        fflush(stdin);
        gets(var);
        print_titulo(l, var);
    }
}

int main(){
    setlocale(LC_ALL, "Portuguese");

    Biblio* ant, *aux, *aux2;
    int op, tam, ano;
    Lista l1;
    char var, titulo[100], autor [60], classi[10];

    l1.inicio=NULL;
    arquivo(&l1);

    do{
        system("cls");
        printf("\tBiblioteca digital:\n\n1 - Registrar livro\n2 - Visualisar Catalogo\n3 - Buscas\n4 - Editar\n5 - Excluir Livro\n6 - Gravar dados\n7 - Sair\n");
        scanf("%i", &op);
        switch (op){
        case 1:
            system("cls");
            inserir_livro(&l1);
            system("pause");
            break;
        case 2:
            system("cls");
            catalogo(&l1);
            system("pause");
            break;
        case 3:
            system("cls");
            printf("1 - Por autores\n2 - Por classificação\n3 - Por ano\n4 - Por titulo\n");
            scanf("%i", &op);
            if (op==1 || op==2 || op==3 || op==4){
                catalogo_por_filtro(&l1, op);
            } else {
                printf("Opção invalida");
            }
            system("pause");
            break;
        case 4:
            system("cls");
            printf("Insira o titulo da obra que pretende editar\n");
            fflush(stdin);
            gets(titulo);
            tam=print_titulo(&l1, titulo);
            if (tam>0){
                printf ("\nInsira o nome do autor da obra buscada\n");
                fflush(stdin);
                gets(autor);
                tam=print_nome(&l1, autor);
                if (tam>0){
                    system("cls");
                    aux=busca_edit_remove(&l1, autor, titulo, &ant);
                    if (aux!=NULL){
                        printf("\nObra Selecionada\n\nAutor: %s\nTitulo: %s\nAno: %i\tClassificação: %s", aux->autor, aux->titulo, aux->ano, aux->classi);
                        printf("\n__________________________________________________________________________________________________________________\n");
                        printf("\n\n Tem certeza que deseja editar essa obra? (s), (n)");
                        scanf(" %c", &var);
                        if (var=='s' || var == 'S'){
                            system("cls");
                            printf("Qual informação você deseja modificar?\n\n1 - Nome do autor\n2 - Titulo da obra\n3 - Ano de publicação\n4 - Classificação\n");
                            scanf("%i", &op);
                            switch (op){
                                case 1:
                                    system("cls");
                                    printf("\nInsira o novo nome do autor:\n");
                                    fflush(stdin);
                                    gets(autor);
                                    if (ant==NULL){
                                        aux2=aux;
                                        l1.inicio=aux->prox;
                                        editar_autor_titulo(&l1, autor, op, aux2);
                                    } else {
                                        aux2=aux;
                                        ant->prox=aux->prox;
                                        editar_autor_titulo(&l1, autor, op, aux2);
                                    }
                                    break;
                                 case 2:
                                    system("cls");
                                    printf("\nInsira o novo titulo:\n");
                                    fflush(stdin);
                                    gets(titulo);
                                    if (ant==NULL){
                                        aux2=aux;
                                        l1.inicio=aux->prox;
                                        editar_autor_titulo(&l1, titulo, op, aux2);
                                    } else {
                                        aux2=aux;
                                        ant->prox=aux->prox;
                                        editar_autor_titulo(&l1, titulo, op, aux2);
                                    }
                                    break;
                                 case 3:
                                    system("cls");
                                    printf("\nInsira o novo ano:\n");
                                    fflush(stdin);
                                    scanf("%i", &ano);
                                    aux->ano=ano;
                                    break;
                                 case 4:
                                    system("cls");
                                    printf("\nInsira a nova classificação:\n");
                                    fflush(stdin);
                                    gets(classi);
                                    strcpy (aux->classi, classi);
                                    break;
                                 default:
                                    printf("\n\n\tOpção incorreta!!\n");
                                    break;
                            }
                        } else if (var=='n' || var == 'N'){
                            printf("\n\nVocê sera redirecionado ao menu principal\n");
                            system("pause");
                            break;
                        } else {
                            printf("\n\nOpção invalida\n\nVocê sera redirecionado ao menu principal\n");
                            system("pause");
                            break;
                        }
                        system("pause");
                        break;
                    }
                }else{
                    printf("\n\tObra não cadastrada\n");
                    system("pause");
                    break;
                }
            }else{
             printf("\n\nObra não cadastrada\n");
            }
            system("pause");
            break;
        case 5:
            system("cls");
            printf("Insira o titulo da obra que pretende editar\n");
            fflush(stdin);
            gets(titulo);
            tam=print_titulo(&l1, titulo);
            if (tam>0){
                printf ("\nInsira o nome do autor da obra buscada\n");
                fflush(stdin);
                gets(autor);
                tam=print_nome(&l1, autor);
                if (tam>0){
                    system("cls");
                    aux=busca_edit_remove(&l1, autor, titulo, &ant);
                    if (aux!=NULL){
                        printf("\nObra Selecionada\n\nAutor: %s\nTitulo: %s\nAno: %i\tClassificação: %s", aux->autor, aux->titulo, aux->ano, aux->classi);
                        printf("\n__________________________________________________________________________________________________________________\n");
                        printf("\n\n Tem certeza que deseja editar essa obra? (s), (n)");
                        scanf(" %c", &var);
                    } if (var=='s' || var == 'S'){
                        if (ant==NULL){
                            aux2=aux;
                            l1.inicio=aux->prox;
                        } else {
                            aux2=aux;
                            ant->prox=aux->prox;
                        }
                        free(aux2);
                        break;
                    } else if (var=='n' || var == 'N'){
                        printf("\n\nVocê sera redirecionado ao menu principal\n");
                        system("pause");
                        break;
                    } else {
                        printf("\n\nOpção invalida\n\nVocê sera redirecionado ao menu principal\n");
                        system("pause");
                        break;
                    }
                } printf("\n\tObra não cadastrada\n");
            }
            system("pause");
            break;
        case 6:
            system("cls");
            gravar_arquivo(&l1);
            printf("Seus dados foram gravados com sucesso");
            system("pause");
            break;
        case 7:
            system("cls");
            printf("Obrigado e até a proxima\n");
            break;
        default:
            system("cls");
            printf("Opção Invalida, Tente novamente");
            break;
        }
    } while (op!=7);
}
